.inner-wrapper {
	width: 100%;
	height: auto;
	margin-bottom: 80px;
}

.billboard {
	width: 100%;
	height: 50em;	
	overflow: hidden;	
	width: 100%;
	height: 50em;
	background-image: url('../billboard4.jpg');
	background-repeat: no-repeat;
	background-position: 130px -300px;	
	background-size: ;
	background-attachment: fixed;
	position: relative;

}

.billboard-overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.billboard-text {
	position: absolute;
	bottom: 20em;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	color: white;
}

.billboard-text h2 {
	font-size: 50px;
}

.billboard-text	p {
	font-size: 30px;
	font-family: 'Bitter';
	margin-bottom: 20px;
}


.billboard-text a, .billboard-text a > i {
	font-size: 16px;
	color: rgba(210,210,210,1);
	transition: color 0.1s ease;
}

.billboard-text a .icon {
	font-size: 1em;
	margin-right: 0;
}

.billboard-text a:hover, .billboard-text a:hover > i {
	color: white;
}

.billboard-text a:active, .billboard-text a:active > i {
	color: rgba(210,210,210,0.8);
}

.skills-list {
	width: 100%;
	height: auto;
}

.skills-list ul {
	width: 100%;
	height: auto;
}

.skills-list ul li{
	width: 100%;
	display: inline-block;
	list-style: none;
	text-align: center;
	padding: 20px;
	margin: 50px 0;
}

.skills-list figure, .my-info figure {
	text-align: center;
}


.skills-list figure img, .my-info figure img {
	width: 100px;
	height: 100px;
}

.text-info {
}

.my-info {
	width: 100%;
	height: auto;
	padding: 0 35px; 

}

.my-info ul {
	width: 100%;
	height: auto;
}
.my-info ul li {
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0 25px;

}

.my-info ul li img {
	width: 100%;
}

.my-info ul li h2 {
	margin-top: 20px;

}

.my-info p {
	margin-top: 45px;
}

@media all and (min-width: 765px) {
	.skills-list ul li {
		width: 33%;
		width: calc(100%/3.03);
		vertical-align: text-top;
	}

	.my-info {
		width: 50%;
		float: left;
	}

	.my-info ul li {
		width: 33.33%;
		float: left;
	}
}

@media all and (min-width: 1100px) {

}