.navigation {
	position: fixed;
	bottom: 0;
	width: 260px;
	height: 100%;
	border-right: 1px solid #ddd;
	z-index: 9;
	background-color: white;
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	transition: -webkit-transform 0.15s ease;
	transition: transform 0.15s ease;
/*	background-image: url('../images/navigation-bg-home3.jpg');
	background-position: center;
	background-size: cover;
}*/
}

.transitionNavigation {
	-webkit-transform: translateX(0%);
	        transform: translateX(0%);
}
.navigation-links {
	width: 100%;
	height: 80%;
	display: table;
}

.navigation-links ul {
	width: 100%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}

.navigation-links ul li {
	width: 100%;
	height: auto;
	font-size: 1.3em;
	list-style: none;
}

.navigation-links ul a {
	display: block;
	/*color: #535353;*/
	color: #444;
	font-style: none;
	padding: 10px 15px;
	text-decoration: none;
	opacity: 1;
	transition: background-color 0.1s ease, color 0.1s ease;

}

.navigation-links ul a:hover {
	background-color: rgba(0,0,0,0.1);
	/*color: #ffffff;*/
}

.navigation-links ul a:active {background-color: rgba(0,0,0,0.1);}

.icon {
	margin-right: 20px;
	width: 20px;
	color: #666;
}
.additional-info {
	width: 100%;
	height: 20%;
}

.social-media {
	width: 100%;
	height: 60%;
	display: table;
}

.social-media ul {
	width: 100%;
	height: auto;
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	padding: 15px;
}

.social-media ul a {
	width: auto;
	height: auto;
	/*color: #191919;*/
	color: #666;
	margin-right: 10px;
	transition: opacity 0.1s ease;
}

.social-media ul a:hover {
	color: #444;
}

.social-media ul a:active {
	color: #555;
}

.social-media ul a:last-child {	margin-right: 0;}

.social-media ul a:first-child:hover {/*color: #00ACEE;*/}

.social-media ul a:nth-child(2):hover {/*color: #006599*/; }

.social-media ul a:last-child:hover {/*color:#535353;*/ }

.social-media ul li {display: inline-block;}


.developed-by {
	width: 100%;
	height: 40%;
	display: table;
	border-top: 1px solid #ddd;
}

.developed-by p{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: #444;
}

.mobile-header {
	position: fixed;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ddd;
	background-color: #ffffff;
	z-index: 999;
}

.tablet-header {display: none;}

.open-menu-icon {		/** Menu icon div **/
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	color: #666;
}


.fa-ellipsis-h {		/** Menu icon **/
	margin-top: 2px;
	transition: color 100ms ease;
}

.open-menu-icon:hover {color: #444;}
.open-menu-icon:active {color: #444;}

.logo {
	width: 60%;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 45px;
	font-variant: small-caps;
	font-size: 3em;
}

.empty-div {			/** Hidden div on right so logo can be in middle of navigation **/
	width: 20%;
	height: 100%;
	float: right;
}

.logo2 {display: none;}

/** Transitions **/


@media all  and (min-width:785px) {
	.mobile-header {display: none;}

	.logo {display: none;}

	.navigation {z-index: 999;}

	.tablet-header {
		display: table;
		position: fixed;
		bottom: 0;
		width: 90px;
		height: 100%;
		border-right: 1px solid grey;
	}

	.open-menu-icon {			/** Menu icon div **/
		width: 100%;
		height: 0;
		float: none;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}

	.logo2 {
		display: block;
		width: 100%;
		height: 20%;
		float: none;
		text-align: center;
		font-variant: small-caps;
		font-size: 3em;
		padding: 20px;
	}

	.logo2 figure{
		font-size: 0em;
		line-height: normal;
	}

	.logo2 figure img{
		width: 60%;
		border-radius: 9999px;
		border: 4px solid rgb(238, 238, 238);
	}

	.logo2 figure h1 {
		text-transform: uppercase;
		font-size: 22px;
		margin: 10px 0;
		padding: 0;
		border-bottom: none;
	}

	.logo2 figure span {
		font-size: 12px;
		margin: 0;
		text-transform: uppercase;
		font-family: 'Bitter';
		word-spacing: 2px;

	}

	.navigation-links {
		width: 100%;
		height: 60%;
		margin-top: 0px;
	}


@media all  and (min-width:1100px) {
	.tablet-header {display: none;}

	.navigation {
		display: block;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}

}